:root {
  // Colors
  --white: #ffffff;
  --primary-main: #1976d2;
  --primary-dark: #115293;
  --grey-50: #f9f9f9;
  --grey-900: #212121;
  --divider-color: #e0e0e0;
  --text-disabled: rgba(0, 0, 0, 0.38);
 
  // Shadows (MUI-like shadows)
  --shadow-1: 0px 1px 3px rgba(0, 0, 0, 0.2);
  --shadow-2: 0px 3px 6px rgba(0, 0, 0, 0.3);

  //spacing
   --search-box-spacing: 1rem; 
}
